<div class="post-div ">
    <h1 class="h1-game">Do you like the game?</h1>
    <p class="p-post">I would appreciate your feedback and also some tips or
        features you would like to see...</p>
    <form id="feedback-form" action="/submit" method="post">
        <input
            id="comment-box"
            type="text"
            name="feedback-post"
            placeholder="  write your feedback..">
        <input type="submit" class="buttons" value="send">
    
    </form>
    <button id="see-reviews" class="buttons"></button>
    <div class="feedback hide">
        <!--use locals. to check if variable exist-->
        <% if ( locals.feedback  ) { %>
    
            <!-- Check if 'feedback' is defined -->
            <div id="feedback" class=" feedback post" class="hide">
                <form action="/edit" method="post" class="">
                    <input id="feedInput" value="<%= feedback %> " readonly name="edit-post">
                    <input id="sendEdit" type="submit" class="buttons hide" value="send">
                </form>
                <div>
                    <form action="/delete" method="post">
                        <input class="hide" value="" name="delete-post">
                        <input type="submit" id="delete-post" class="buttons" value="delete">
                    </form>
    
                    <button id="update-post-btn" class="edit-post-btn buttons">Edit</button>
                </div>
            </div>
            <!--if user click edit form appear -->
    
        <% } else { %>
            <p >No feedback yet</p>
            <!-- Display a message when 'feedback' is not defined -->
        <% } %>
    </div>
    </div>
    </div>