</main>
<div class="container">

<div class="container__icon-wrapper">
    <a class="footer-a" href="mailto:manuel.barman96@gmail.com">
    <i class="container__icon fa fa-envelope envelope"></i></a>
</div>

<div class="container__icon-wrapper">
    <a class="footer-a" href="https://www.instagram.com/cocktails_travels_just_manuel/">
    <i class="container__icon fa fa-instagram instagram"></i></a>
</div>

<div class="container__icon-wrapper">
    <a class="footer-a" href="https://www.youtube.com/@JustManuel/?sub_confirmation=1">
    <i class="container__icon fa fa-youtube-square youtube"> </i></a>
</div>

<div class="container__icon-wrapper">
    
    <a class="footer-a" href="https://www.facebook.com/manuel.crispino.1">
        <i class="container__icon fa fa-facebook-square facebook"></i>
    </a>
</div>
</div>
<footer>
<p class="copyright-p-glow">Copyright ©
    <%-new Date().getFullYear() %>
    Manuel Crispino</p>
</footer>


<script src="/animation.js" ></script>
<script src="/function.js" ></script>


</body>




</html>