<%- include('partials/header.ejs') %>

<div class="text-div-about">
    <h1>About</h1>
    <p id="about-text">Hello this web site as been created for my portfolio of projects,
            i had fun building animation and glow effects as a design this web site will be
            updated with new functions while i am going forward with my developer course, i
            will use it to practice my new skills.
        </p>
           <p id="about-text">
                If you like this website and the game please let me know on my socials or by
                email i would appreciate your feedbacks.
            </p>
               <p id="about-text">
                    During this project i have come across a lot of challenges that get me much more
                    knowledge about programming with js,ejs,css,express and node.
                </p>
                   <p id="about-text">
                        The most challenging part was for sure about posting edit and delete method
                        where you can see by the end on my home page for the feedback .
                    </p>
                       <p id="about-text">
                            The main goal of this project was to recreate a post delete and edit method
                            without using a database i have been struggling to understand one nice logic in
                            the end i have been asking others developers form my Course on Discord and i
                            realize what i was doing wrong in the end i come up with my own solution for
                            this project.
                        </p>
                           <p id="about-text">
                                This so far was one of the most hard challenge i had in this course , but in
                                this job i realize that stronger is the Problem and stronger you will get when
                                you fix it!
                            </p>
                                <p id="about-text">
                                    So i fill kind of like spider man after i recover from the spider bite i start
                                    to feel the very first developer power i have gained over the months ,
                                </p>
                                <p id="about-text">
                                        But there is still a world to learn so i will have to keep going trough and i am
                                        always more exited !
                                    </p>
                                </div>
                                <div></div>

                                <%- include('partials/footer.ejs')%>