<%-include("partials/header.ejs")%>
<div class="text-div-about">
    <h1>Contacts</h1>
    <br>
<p>To contact me you can click on the icons below ,
    you can contacts me by Email,Instagram,Facebook Or Youtube  </p>
</div>

<%-include("partials/footer.ejs")%>