<%-include("partials/header.ejs")%>
<div class="text-div-about">
    <h1>Projects</h1>
    <br>
<p>Here you will find all the links to  my others  projects </p>
</div>

<%-include("partials/footer.ejs")%>